:root{
   --dark_bg_color:#2F303A;
   --title_text_color:#212121;
  --botton_bg_color:#2196F3;
  --text_color:#757575;
  --white_text_color:#FFFFFF;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

a{
  text-decoration: none;
}


ul{
  margin: 0; 
padding: 0;
list-style: none;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

img{
  max-width: 100%;
  display: block;
  height: auto;

}

 body{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
 }

.header{
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid grey;
}

.container{
width: 1200px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
} 

.header-position{
  display: flex;
    align-items: center;
}


.menu-link{
font-weight: 500;
letter-spacing: 0.02em;
color: #212121;
}


.menu{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
margin-left: 93px;
column-gap: 50px;
}

.contacts{
  display: flex;
  margin-left: auto;
  column-gap: 50px;
}

.contacts-link{
font-weight: 500;
letter-spacing: 0.02em;
color: #757575;
}

.contacts-link:hover{
color: #2196F3;
}


.contacts-link:hover .svg-icons1,
.contacts-link:hover .svg-icons2{
fill: #2196F3;

}

.svg-icons1,
.svg-icons2{
}





.hero{
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2F303A;
  background-image:url(../images/Img\ \(2\).png), url(../images/Img\ Overlay.jpg) ;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: #FFFFFF;
width: 696px;
margin: 0 auto;
margin-bottom: 30px;
}

.features{
padding-bottom: 94px;
padding-top: 94px;
}

.features-list{
display: flex;
column-gap: 30px;
} 

.button{
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
text-align: center;
color: #fff;
margin: 0 auto;
display: block;
background-color: #2196F3;
padding: 10px 32px;
border-radius: 4px;
}

.features-title{
  display: none;
}

.features-icon{
  width:270px ;
  height:120px ;
  background-color: #F5F4FA;
  margin-bottom:30px ;
  display: flex;
  justify-content: center;
  align-items:center ;
}


 
/* .features-item-name::before{
  content: "" ;
  display: block;
  width: 270px; ;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;;
  border-radius: 4px;
  
  background-repeat: no-repeat;
  background-position: center;
}

.features-item-name.antena::before{
background-image: url(../images/antenna\ 1.png)
}
.features-item-name.clock::before{
background-image: url(../images/clock\ 1.png)
}
.features-item-name.laptop::before{
background-image: url(../images/diagram\ 1.png)
}
.features-item-name.astronavt::before{
background-image: url(../images/astronaut\ 1.png)
} */



.features-item-name{
font-weight: 700;
text-transform: uppercase;
color: #212121;
margin-bottom: 10px;
}

.features-item-text{
line-height: 1.71;
color: #757575;
}

.services{
padding-bottom: 94px;

}


.section-title{
font-weight: 700;
font-size: 36px;
text-align: center;
color: #212121;
margin-bottom: 50px;
}

.services-list{
  display: flex;
  column-gap: 30px;
  list-style: none;
  padding: 0;
}

.services-item {
  position: relative;
  flex: 1;
}

.image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team{
  padding-top: 94px;
  padding-bottom: 94px;
 background-color:#f5f4fa;;
  
}



.section-title{
  padding-bottom: 50px;

}

.team-list{

  display: flex;
  column-gap: 30px;
}

.team-member{
font-weight: 500;
font-size: 16px;
text-align: center;
color: #212121;
margin-bottom: 10px;
}

.team-position{
font-size: 16px;
text-align: center;
color: #757575;
}

.social-list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
column-gap: 12px;
}


.social-link{
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.social-link:hover{
  background-color: #2196F3;
 
}

.social-link:hover .social-icon{
fill: #FFFFFF;
}

.social-icon{
 fill: #AFB1B8;

}



.team-member-content{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.logo{
  font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
color: #2196f3;
}

.header-studio{
  color: #000000;
}


.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 250ms ;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 40px;
  border-radius: 8px;
  width: 528px;
  position: relative;
  
}






.modal-close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
  width:30px ;
  height:30px ;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50% ;
  background-color: transparent;
  
}

.modal-close-btn:hover{

}

.modal-text{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-top: 12px;
}

.modal-form{
  margin-top: 12px;
}

.label{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.imput{
  margin-top: 4px;
}


.textarea{
resize: none;
height: 120px;
}


input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  font-weight: bold;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-right: 150px;
  font-size: 14px;
  padding-bottom: 10px;
  vertical-align: middle;
}





.checkbox #main-text-checkbox {
  white-space: nowrap;
}

.checkbox #secondary-text-checkbox {
  display: block;
}

.checkbox input {
  margin-right: 8px;
}

.button-modal{
  display: block;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
}

button[type="submit"]:hover {
  background-color: #1976D2;
}


.footer-studio{
 color: #FFFFFF;
}

.address{
  font-style: normal;

}



.footer{
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}


.logo-footer{
  font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
color: #2196f3;
margin-bottom: 20px;
}



.footer-position{
  display: flex;
  align-items: center;
justify-content: space-between;
}




.footer-socials{
  margin-left: 70px;
  margin-top: 12px;

}

.footer-socials-title{
margin-bottom: 20px;
color: #FFFFFF;
text-transform: uppercase;
font-size: 14px;
}

.footer-socials-list{
  display: flex;
  column-gap: 10px;

}

.footer-social-link{
  display: flex;
width: 44px; height: 44px;
background-color:rgba(255, 255, 255, 0.1);;
border-radius: 50%;
align-items: center;
justify-content: center;
}

.footer-social-link:hover{
  background-color:#2196F3;
  
}
.footer-social-icon{
fill: #FFFFFF;

}



.location{
line-height: 1.71;
color: #fff;
}




.footers-contacts-link{
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
}


/* сторінка портфоліо */

.portfolio-hero{
  padding-top: 94px;
  padding-bottom: 94px;
}


.portfolio-hero-title{
  display: none;
}

.filter-list{
  display: flex;
  column-gap: 8px;
  justify-content: center;
 margin-bottom: 50px;
}

.filter-button{
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
color: #212121;
}

.galary{
 display: flex; 
 column-gap: 30px;
 flex-wrap: wrap;
 row-gap: 30px ;
}

.galary-name{
font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: #212121;
margin-top: 20px;
margin-left: 24px;
margin-right: 24px;
}

.galary-text{
font-family: var(--font-family);
font-size: 16px;
line-height: 1.87;
color: #757575;
margin-left: 24px;
margin-right: 24px;
}


.galary-item{
  outline: 1px solid #EEEEEE;
  flex-basis: calc((100% - 60px) / 3);
}


.galary-item:hover{
   box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.receiver-message {
  right: 10;
  position: absolute;
}
.emailsreceivetitle {
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form{
  display: flex;
  align-items: center;
}

.emails{
  display: block;
  width: 358px;
  height: 50px;
  margin: 0;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
}

.footer-button{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
width: 200px;
height: 50px;
margin-left: 12px;
background-color: #2196F3;
color: #FFFFFF;
font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.06em;
text-align: center;
color: #fff;
}

.footer-email-icon{
  fill:#FFFFFF ;


}

.inputwrap,
.phonewrap,
.emailwrap{
  position: relative;
}

.icons{
width: 12px;
height: 12px;
fill: black;
position: absolute;
    top: 36px;
    left: 8px;
}


.icons-phone{
  width: 13px;
height: 13px;
fill: black;
position: absolute;
    top: 36px;
    left: 8px;
}

.icons-email{
  width: 13px;
height: 13px;
fill: black;
position: absolute;
    top: 36px;
    left: 8px;
}
